<%- include('partials/_header') %> 
<%- include('partials/_navigation') %>

<div class="all-title-box">
  <div class="container text-center">
    <h1>
		<%= course.name %><span class="m_1"
        ></span
      >
    </h1>
  </div>
</div>

<div id="overviews" class="section wb">
  <div class="container">
    <div class="section-title row text-center">
      <div class="col-md-8 offset-md-2">
        <p class="lead">
			<p> <%= course.description  %></p>
        </p>
      </div>
    </div>
    <!-- end title -->

    <hr class="invis" />

    <div class="row">
		
	</div>

    

<%- include('partials/_footer') %>
